In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('data/inventory.csv')

In [10]:
df.head()

,Model,Range,Capacity,Efficiency,Share,Charge_L2,Charge_DC
0,Tesla Model Y,350.00,57.50,0.1643,0.339,11,140
1,Tesla Model 3,415.00,57.50,0.1386,0.190,11,100
2,Generic EV - Large,464.50,85.90,0.1849,0.064,11,120
3,Generic EV - Medium,398.33,71.69,0.1800,0.064,11,100
4,Generic EV - Small,330.83,54.17,0.1637,0.064,11,100

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Model       52 non-null     object
 1   Range       52 non-null     float64
 2   Capacity    52 non-null     float64
 3   Efficiency  52 non-null     float64
 4   Share       52 non-null     float64
 5   Charge_L2   52 non-null     int64
 6   Charge_DC   52 non-null     int64
dtypes: float64(4), int64(2), object(1)
memory usage: 3.0+ KB

In [15]:
f"{df['Efficiency'].mean():.1f}"

'0.2'